<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataCore - Hosting Provider</title>
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="img/favicon.ico" rel="shortcut icon">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
  </head>
  <body>
    <div id="spinner-area">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        <div class="spinner-txt">DataCore...</div>
      </div>
    </div>
    <!-- 
    *******************
    NAV MENU    
    *******************
    -->
    <div class="menu-wrap">
      <div class="nav-menu">
        <div class="container">
          <div class="row">
            <div class="col-2 col-md-2">
              <a href="index.html">
                <img src="img/datacore-light.png" alt="logo DataCore" class="logo-menu">
              </a>
            </div>
            <nav class="col-10 col-md-10">
              <div class="navigation float-right">
                <button class="menu-toggle">
                  <span class="icon"></span>
                  <span class="icon"></span>
                  <span class="icon"></span>
                </button>
                <ul class="main-menu nav navbar-nav navbar-right">
                  <li class="menu-item">
                    <a class="h-stroke" href="index.html">Главная</a>
                  </li>
                  <li class="menu-item">
                    <a class="h-stroke" href="index.html#features">Возможности</a>
                  </li>
                  <li class="menu-item">
                    <a class="h-stroke" href="about.html">О нас</a>
                  </li>
                  <li class="menu-item">
                    <a class="active h-stroke" href="contact.html">Поддержка</a>
                  </li>
                  <li class="menu-item">
                    <a class="pr-0 mr-0" href="login.html"> <div class="btn btn-default-green-fill question"><i class="fas fa-lock pr-1"></i> КЛИЕНТАМ</div></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    NAV MENU MOBILE  
    *******************
    -->
    <div class="menu-wrap mobile">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <a href="index.html"><img src="img/datacore-light.png" alt="logo" class="logo-menu"></a>
            <a href="index.html"><img src="img/datacore.png" alt="logo DataCore" class="logo-menu logo-responsive"></a>
          </div>
          <div class="col-6">
            <nav class="nav-menu">
              <button id="nav-toggle" class="menu-toggle">
                <span class="icon"></span>
                <span class="icon"></span>
                <span class="icon"></span>
              </button>
              <ul class="main-menu sec-grad-white-to-grey">
                <li class="menu-item">
                  <a href="index.html">Главная</a>
                </li>
                <li class="menu-item">
                  <a href="index.html#features">Возможности</a>
                </li>
                <li class="menu-item">
                  <a href="about.html">О нас</a>
                </li>
                <li class="menu-item">
                  <a class="active" href="contact.html">Поддержка</a>
                </li>
                <li>
                  <a href="login.html"><div class="btn btn-default-green-fill mt-3">КЛИЕНТАМ</div></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    BANNER
    ******************* 
    -->
    <div class="top-header">
      <div class="total-grad-inverse"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper">
              <div class="heading">Связаться с нами</div>
              <div class="subheding">Мы готовы ответить на все ваши вопросы и предложить оптимальное решение для вашего бизнеса.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    SUPPORT  
    *******************
    -->
    <section class="services classic pt-5 pb-80 sec-bg2">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="service-section sec-grad-white-to-grey">
                <img class="mb-3" src="fonts/svg/livechat.svg" height="65" alt="">
                <div class="title">Онлайн-чат</div>
                <p class="subtitle">Мгновенная связь с нашими специалистами для решения ваших вопросов в режиме реального времени.</p>
                <a href="" class="btn btn-default-grad-purple-fill">Начать чат</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section sec-grad-white-to-grey">
                <img class="mb-3" src="fonts/svg/emailopen.svg" height="65" alt="">
                <div class="title">Отправить запрос</div>
                <p class="subtitle">Создайте заявку и получите детальный ответ от наших технических специалистов в кратчайшие сроки.</p>
                <a href="" class="btn btn-default-grad-purple-fill">Создать запрос</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section sec-grad-white-to-grey">
                <div class="plans badge feat bg-blue">Поддержка 24/7/365</div>
                <img class="mb-3" src="fonts/svg/phone.svg" height="65" alt="">
                <div class="title">Телефонная связь</div>
                <p class="subtitle">Свяжитесь с нами по телефону для получения моментальной консультации по любым вопросам.</p>
                <a href="" class="btn btn-default-grad-purple-fill">Позвонить</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section sec-grad-white-to-grey">
                <div class="plans badge feat bg-green">Онлайн</div> 
                <img class="mb-3" src="fonts/svg/book.svg" height="65" alt="">
                <div class="title">База знаний</div>
                <p class="subtitle">Обширная библиотека статей и инструкций для самостоятельного решения распространенных вопросов.</p>
                <a href="" class="btn btn-default-grad-purple-fill">Открыть базу</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section sec-grad-white-to-grey">
                <img class="mb-3" src="fonts/svg/document.svg" height="65" alt="">
                <div class="title">Часто задаваемые вопросы</div>
                <p class="subtitle">Подробные ответы на наиболее распространенные вопросы наших клиентов для быстрого решения проблем.</p>
                <a href="" class="btn btn-default-grad-purple-fill">Узнать больше</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section sec-grad-white-to-grey">
                <img class="mb-3" src="fonts/svg/calendar.svg" height="65" alt="">
                <div class="title">Техническая поддержка</div>
                <p class="subtitle">Наша команда экспертов готова помочь вам в решении любых технических задач в любое время суток.</p>
                <a href="" class="btn btn-default-grad-purple-fill">Поддержка</a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    <!-- 
    *******************
    CONTACT FORM 
    *******************
    -->
    <section class="sec-normal sec-grad-white-to-green">
      <div class="register contact-us">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="form-contact p-0 sec-bx">
                <img class="custom-img-right" src="img/custom/support.svg" alt="Support">
                <h1 class="subtitle mb-1">Заполните форму обратной связи</h1>
                <p>Мы поможем подобрать оптимальное решение для ваших задач!</p>
                <form id="contactForm" class="comments-form">
                  <input id="name" type="text" name="name" placeholder="Имя" class="input" required="">
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <input id="email" type="email" name="email" placeholder="E-mail" class="input" required>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <input id="phone" type="number" name="phone" placeholder="Телефон" class="input" required>
                    </div>
                  </div>
                  <textarea id="message" rows="4" name="message" class="input comment" placeholder="Сообщение..."></textarea>
                  <div class="text-right text-xs-center">
                    <input type="submit" class="btn btn-default-green-fill float-left button" value="Отправить">
                  </div>
                  <h3 id="msgSubmit" class="text-right c-blue" style="display: none;">Сообщение отправлено!</h3>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 
    *******************
    FOOTER
    ******************* 
    -->
    <footer class="footer">
      <img class="logo-bg logo-footer" src="img/datacore.png" alt="logo">
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="heading">Компания</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="about.html">О нас</a></li>
                <li class="menu-item"><a href="index.html#features">Возможности</a></li>
                <li class="menu-item"><a href="legal.html">Правовая информация</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="heading">Поддержка</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="contact.html">Связаться с нами</a></li>
                <li class="menu-item"><a href="login.html">Личный кабинет</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4">
              <a><img src="img/datacore.png" alt="logo" class="logo-footer"></a>
              <div class="copyrigh">г. Алматы, пр-т Сейфуллина 531, БЦ Сарыарка, офис 204/1</div>
              <div class="soc-icons">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a> 
                <a href=""><i class="fab fa-linkedin-in"></i></a>                     
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul class="footer-menu">
                <li class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" checked> RU
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2"> KK
                  </label>
                </li>
                <li class="menu-item c-grey ml-0">Авторские права © 2025 Все права защищены - ТОО DataCore</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/telegram.js"></script>
    <script>
    // Enhanced smooth scrolling for footer "Возможности" link
    document.querySelectorAll('.footer a[href="index.html#features"]').forEach(link => {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        
        // Since we're on contact.html, redirect to index.html#features
        window.location.href = 'index.html#features';
      });
    });
    </script>
  </body>
</html>