<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataCore - ИТ-решения для ЦОД</title>
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="img/favicon-d.svg" rel="shortcut icon" type="image/svg+xml">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
  </head>
  <body>
    <div id="spinner-area">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        <div class="spinner-txt">DataCore...</div>
      </div>
    </div>
    <!-- 
    *******************
    NAV MENU    
    *******************
    -->
    <div class="menu-wrap">
      <div class="nav-menu">
        <div class="container">
          <div class="row">
            <div class="col-2 col-md-2">
              <a href="index.html">
                <img src="img/datacore-light.png" alt="logo DataCore" class="logo-menu">
              </a>
            </div>
            <nav class="col-10 col-md-10">
              <div class="navigation float-right">
                <button class="menu-toggle">
                  <span class="icon"></span>
                  <span class="icon"></span>
                  <span class="icon"></span>
                </button>
                <ul class="main-menu nav navbar-nav navbar-right">
                  <li class="menu-item">
                    <a class="active h-stroke" href="index.html">Главная</a>
                  </li>
                  <li class="menu-item">
                    <a class="h-stroke" href="#features">Возможности</a>
                  </li>
                  <li class="menu-item">
                    <a class="h-stroke" href="about.html">О нас</a>
                  </li>
                  <li class="menu-item">
                    <a class="h-stroke" href="contact.html">Поддержка</a>
                  </li>
                  <li class="menu-item">
                    <a class="pr-0 mr-0" href="login.html"> <div class="btn btn-default-green-fill question"><i class="fas fa-lock pr-1"></i> КЛИЕНТАМ</div></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    NAV MENU MOBILE  
    *******************
    -->
    <div class="menu-wrap mobile">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <a href="index.html"><img src="img/datacore-light.png" alt="logo" class="logo-menu"></a>
            <a href="index.html"><img src="img/datacore.png" alt="logo DataCore" class="logo-menu logo-responsive"></a>
          </div>
          <div class="col-6">
            <nav class="nav-menu">
              <button id="nav-toggle" class="menu-toggle">
                <span class="icon"></span>
                <span class="icon"></span>
                <span class="icon"></span>
              </button>
              <ul class="main-menu sec-grad-white-to-grey">
                <li class="menu-item">
                  <a class="active">Главная</a>
                </li>
                <li class="menu-item">
                  <a href="#features">Возможности</a>
                </li>
                <li class="menu-item">
                  <a href="about.html">О нас</a>
                </li>
                <li class="menu-item">
                  <a href="contact.html">Поддержка</a>
                </li>
                <li>
                  <a href="login.html"><div class="btn btn-default-green-fill mt-3">КЛИЕНТАМ</div></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    SLIDER  
    *******************
    -->
    <div id="owl-demo" class="owl-carousel">
      <div class="full h-100">
        <div class="total-grad">
          <div class="opa-pink"></div>
        </div>
        <div class="vc-parent">
          <div class="vc-child">
            <div class="top-banner">
              <div class="container">
                <img class="custom-img-right" src="img/custom/servercloud.svg" alt="Server Cloud">
                <div class="heading">ИТ решения для ЦОД<br>с <span id="typed3"></span></div>
                <h3 class="subheading">Доверьте инфраструктуру экспертам DataCore.<br>Индивидуальный подход и оптимальные решения<br>для задач любой сложности.</h3>
                <a href="contact.html" class="btn btn-default-green-fill mr-3" style="padding: 12px 30px; font-size: 16px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; box-shadow: 0 5px 15px rgba(0,0,0,0.15);">Связаться с нами</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="full h-100">
        <div class="total-grad-inverse">
          <div class="opa-pink"></div>
        </div>
        <div class="vc-parent">
          <div class="vc-child">
            <div class="top-banner">
              <div class="container">
                <img class="custom-img-right" src="img/custom/domains.svg" alt="Domains">
                <h1 class="heading">Технологии для <span id="typed4"></span></h1>
                <h3 class="subheading">Высокопроизводительные решения и комплексная ИТ-поддержка.<br>Повышаем эффективность вашего бизнеса<br>через передовые технологии и сервисы.</h3>
                <a href="contact.html" class="btn btn-default-green-fill" style="padding: 12px 30px; font-size: 16px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; box-shadow: 0 5px 15px rgba(0,0,0,0.15);">Связаться с нами</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <!-- 
    *******************
    FEATURES  
    ******************* 
    -->
    <section id="features" class="sec-bg1 pb-80">
      <div class="h-services">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="wrap-service">
                <img src="fonts/svg/paper.svg" height="65" alt="Проектирование инженерных систем">
                <div class="heading animated fadeInUp delay-2s">Проектирование инженерных систем</div>
                <div class="text-info">
                  Разработка полной технической документации для новых инженерных систем и инфраструктуры ЦОД.
                  Следуем отраслевым стандартам с учетом ваших требований и бюджета.
                </div>
                <a href="#" class="btn btn-default-grad-purple-fill">Подробнее</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="wrap-service">
                <img src="fonts/svg/firewall.svg" height="65" alt="Строительство ЦОД под ключ">
                <div class="heading animated fadeInUp delay-3s">Строительство ЦОД под ключ</div>
                <div class="text-info">
                  Полное сопровождение строительства от обследования объекта до сдачи готового ЦОД.
                  Гарантируем соблюдение сроков и требований к качеству.
                </div>
                <a href="#" class="btn btn-default-grad-purple-fill">Подробнее</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 clear-md">
              <div class="wrap-service">
                <img src="fonts/svg/designed.svg" height="65" alt="Инсталляция и модернизация">
                <div class="heading animated fadeInUp delay-4s">Инсталляция и модернизация</div>
                <div class="text-info">
                  Поставка и установка новых инженерных систем, а также модернизация существующих.
                  Минимизируем простои и обеспечиваем надежность работы.
                </div>
                <a href="#" class="btn btn-default-grad-purple-fill">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 
    *******************
    GET READY
    ******************* 
    -->
    <section class="getready sec-grad-blue-to-purple">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="column-support-txt">
              <div class="column-support-title">Остались вопросы?</div> 
              <div class="column-support-subtitle">Наши эксперты готовы помочь вам с выбором оптимального решения!</div>
            </div>
          </div> 
          <div class="col-lg-4">
            <div class="btn-floats">
              <a href="contact.html" class="btn btn-default-white mt-2">Связаться с нами</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 
    *******************
    FOOTER
    ******************* 
    -->
    <footer class="footer">
      <img class="logo-bg logo-footer" src="img/datacore.png" alt="logo">
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="heading">Компания</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="about.html">О нас</a></li>
                <li class="menu-item"><a href="index.html#features">Возможности</a></li>
                <li class="menu-item"><a href="#">Правовая информация</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="heading">Поддержка</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="contact.html">Связаться с нами</a></li>
                <li class="menu-item"><a href="login.html">Личный кабинет</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4">
              <a><img src="img/datacore.png" alt="logo" class="logo-footer"></a>
              <div class="copyrigh">г. Алматы, пр-т Сейфуллина 531, БЦ Сарыарка, офис 204/1</div>
              <div class="soc-icons">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a> 
                <a href=""><i class="fab fa-linkedin-in"></i></a>                     
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul class="footer-menu">
                <li class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" checked> RU
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2"> KK
                  </label>
                </li>
                <li class="menu-item c-grey ml-0">Авторские права © 2025 Все права защищены - ТОО DataCore</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
    <script src="js/jquery.min.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/scripts.js"></script>
    <script>
    var typed3 = new Typed('#typed3', {
        strings: ["высокой надежностью", "высокой производительностью", "быстрым внедрением"],
        typeSpeed: 50,
        backSpeed: 20,
        smartBackspace: true,
        loop: true
    });
    
    var typed4 = new Typed('#typed4', {
        strings: ["бизнеса", "предприятий", "компаний", "организаций", "всех!"],
        typeSpeed: 50,
        backSpeed: 20,
        smartBackspace: true,
        loop: true
    });

    // Smooth scrolling for anchor links
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        
        const target = document.querySelector(this.getAttribute('href'));
        if (target) {
          window.scrollTo({
            top: target.offsetTop,
            behavior: 'smooth'
          });
        }
      });
    });
    
    // Enhanced smooth scrolling for footer "Возможности" link
    document.querySelectorAll('.footer a[href="index.html#features"]').forEach(link => {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        
        const featuresSection = document.getElementById('features');
        if (featuresSection) {
          // Scroll with a slightly longer animation
          window.scrollTo({
            top: featuresSection.offsetTop,
            behavior: 'smooth'
          });
        } else {
          // If on a different page, store the target in localStorage and redirect
          window.location.href = 'index.html#features';
        }
      });
    });
    </script>
  </body>
</html>