<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elastic</title>
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="img/favicon.ico" rel="shortcut icon">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
  </head>
  <body>
    <div id="spinner-area">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        <div class="spinner-txt">Elastic...</div>
      </div>
    </div>
    <!-- 
    *******************
    NAV MENU    
    *******************
    -->
    <div class="menu-wrap">
      <div class="nav-menu">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-2 col-md-2">
                <a href="index.html"><img src="img/logo.svg" alt="logo Elastic" class="logo-menu"></a>
              </div>
              <nav class="col-10 col-md-10">
                <div class="navigation float-right">
                  <button class="menu-toggle">
                    <span class="icon"></span>
                    <span class="icon"></span>
                    <span class="icon"></span>
                  </button>
                  <ul class="main-menu nav navbar-nav navbar-right">
                    <li class="menu-item">
                      <a class="h-stroke" href="index.html">Home</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a class="m-0 pr-1 active v-stroke" href="#">Services</a> <div class="badge badge-pill bg-blue mr-4">TOP</div>
                      <div class="sub-menu menu-large sec-grad-white-to-grey">
                        <div class="service-list">
                          <div class="service">
                            <i class="icon-cloudfiber"></i>
                            <div class="media-body">
                              <a class="menu-item" href="hosting.html">Cloud Hosting</a>
                              <p>Lorem ipsum dolor sit amet</p>
                            </div>
                          </div>
                          <div class="service">
                            <i class="icon-reseller"></i>
                            <div class="media-body">
                              <a class="menu-item" href="reseller.html">Cloud Reseller</a>
                              <p>Adipiscing integer act lacinia</p>
                            </div>
                          </div>
                          <div class="service">
                            <i class="icon-dedicated"></i>
                            <div class="media-body">
                              <a class="menu-item" href="dedicated.html">Dedicated Servers</a>
                              <p>Dolor sit amet conse adipiscing</p>
                            </div>
                          </div>
                          <div class="service">
                            <i class="icon-vps"></i>
                            <div class="media-body">
                              <a class="menu-item" href="vps.html">Cloud VPS</a>
                              <p>Dolor sit amet conse adipiscing</p>
                            </div>
                          </div>
                          <div class="service">
                            <i class="icon-wordpress"></i>
                            <div class="media-body">
                              <a class="menu-item active" href="wordpress.html">WordPress</a>
                              <p>Adipiscing integer act lacinia</p>
                            </div>
                          </div>
                          <div class="service">
                            <i class="icon-domains"></i>
                            <div class="media-body">
                              <a class="menu-item" href="domains.html">Domain Names</a>
                              <p>Dolor sit amet conse adipiscing.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a class="v-stroke" href="#">Pages</a>
                      <ul class="sub-menu sec-grad-white-to-grey">
                        <li class="menu-item"><a href="countdown.html">Coming Soon</a></li>
                        <li class="menu-item"><a href="about.html"> About Us</a></li>
                        <li class="menu-item"><a href="404.html">404 Error</a></li>
                        <li class="menu-item"><a href="signup.html">Register</a></li>
                        <li class="menu-item"><a href="login.html">Client Area</a></li>
                        <li class="menu-item"><a href="cart.html">Cart</a></li>
                        <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a class="h-stroke" href="blog.html">Blog</a>
                    </li>
                    <li class="menu-item">
                      <a class="h-stroke" href="elements.html">Features</a>
                    </li>
                    <li class="menu-item menu-item-has-children menu-last">
                      <a class="v-stroke" href="#">Support</a>
                      <ul class="sub-menu sec-grad-white-to-grey">
                        <li class="menu-item"><a href="knowledgebase.html">Knowlege Base</a></li>
                        <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                        <li class="menu-item"><a href="faq.html">Faq</a></li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a class="pr-0 mr-0" href="login.html"> <div class="btn btn-default-green-fill question"><i class="fas fa-lock pr-1"></i> CLIENT AREA</div></a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    NAV MENU MOBILE  
    *******************
    -->
    <div class="menu-wrap mobile">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <a href="index.html"><img src="img/logo.svg" alt="logo" class="logo-menu"></a>
            <a href="index.html"><img src="img/logo-light.svg" alt="logo Elastic" class="logo-menu logo-responsive"></a>
          </div>
          <div class="col-6">
            <nav class="nav-menu">
              <button id="nav-toggle" class="menu-toggle">
                <span class="icon"></span>
                <span class="icon"></span>
                <span class="icon"></span>
              </button>
              <ul class="main-menu sec-grad-white-to-grey">
                <li class="menu-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a class="active">Services <div class="badge badge-pill bg-blue">PRO</div></a> 
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="hosting.html">Cloud Hosting</a></li>
                    <li class="menu-item"><a href="reseller.html">Cloud Reseller</a></li>
                    <li class="menu-item"><a href="dedicated.html">Dedicated Server</a></li>
                    <li class="menu-item"><a href="vps.html">Cloud VPS</a></li>
                    <li class="menu-item"><a class="active" href="wordpress.html">WordPress</a></li>
                    <li class="menu-item"><a href="domains.html">Domain Names</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a>Pages</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="countdown.html">Coming Soon</a></li>
                    <li class="menu-item"><a href="about.html"> About Us</a></li>
                    <li class="menu-item"><a href="404.html">404 Error</a></li>
                    <li class="menu-item"><a href="signup.html">Register</a></li>
                    <li class="menu-item"><a href="login.html">Client Area</a></li>
                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                    <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="blog.html">Blog</a>
                </li>
                <li class="menu-item">
                  <a href="elements.html">Features</a>
                </li>
                <li class="menu-item menu-item-has-children menu-last">
                  <a>Support</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="knowledgebase.html">Knowlege Base</a></li>
                    <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                    <li class="menu-item"><a href="faq.html">Faq</a></li>
                  </ul>
                </li>
                <li class="mt-4">
                  <a href="tel:+0000000000"><p class="c-grey">Phone: + (123) 1300-656-1046</p></a>
                  <a href="mailto:elastic@mail.com"><p class="c-grey">Email: elastic@mail.com</p></a>
                </li>
                <li>
                  <a href="login.html"><div class="btn btn-default-green-fill mt-3">CLIENT AREA</div></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    SLIDER  
    *******************
    -->
    <div id="owl-demo" class="owl-carousel">
      <div class="full h-100">
        <div class="total-grad-purple">
          <div class="opa-purple"></div>
        </div>
        <div class="vc-parent fix">
          <div class="vc-child">
            <div class="top-banner text-center">
              <div class="container">
                <h1 class="heading">WordPress</h1>
                <h3 class="subheading">High performance and scalability. Upgrades and downgrades without any service break.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    PRICING TABLES   
    ******************* 
    -->
    <section class="sec-uping">
      <div class="best-plans pricing classic">
        <div class="container">
          <div class="sec-main sec-grad-white-to-grey">
            <div class="plans badge feat bg-blue">Site Builder</div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive-lg">
                  <table class="table">
                    <thead>
                      <tr>
                        <td></td>
                        <td>
                          <div class="title">Standard</div>
                          <div class="price"><sup>$</sup>8.66<span class="period">/mo</span></div>
                          <div class="plans badge bg-grey">Renews $8.66 /mo</div>
                          <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                          <a href="" class="btn btn-default-green-fill">Buy Now</a><br>
                        </td>
                        <td>
                          <div class="title">Professional</div>
                          <div class="price"><sup>$</sup>12.90<span class="period">/mo</span></div>
                          <div class="plans badge bg-grey">Renews $16.90 /mo</div>
                          <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                          <a href="" class="btn btn-default-green-fill">Buy Now</a>
                        </td>
                        <td>
                          <div class="title">Elite</div>
                          <div class="price"><sup>$</sup>19.00<span class="period">/mo</span></div>
                          <div class="plans badge bg-grey">Renews $26.02 /mo</div>
                          <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                          <a href="" class="btn btn-default-green-fill">Buy Now</a>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Websites
                          </div>
                        </td>
                        <td>2 Websites</td>
                        <td>4 Websites</td>
                        <td>8 Websites</td>
                      </tr>
                      <tr>
                        <td>
                          <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Storage
                          </div>
                        </td>
                        <td>40GB SSD</td>
                        <td>60GB SSD</td>
                        <td>120GB SSD</td>
                      </tr>
                      <tr>
                        <td class="title-table">RAM</td>
                        <td>12GB</td>
                        <td>32GB</td>
                        <td>64GB</td>
                      </tr>
                      <tr>
                        <td class="title-table">Cores</td>
                        <td>4</td>
                        <td>8</td>
                        <td>16</td>
                      </tr>
                      <tr>
                        <td class="title-table">Git Support</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                      </tr>
                      <tr>
                        <td class="title-table">Accounts</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                      </tr>
                      <tr>
                        <td class="title-table">Backups</td>
                        <td>4GB</td>
                        <td>16GB</td>
                        <td>32GB</td>
                      </tr>
                      <tr>
                        <td class="title-table">Updates</td>
                        <td>Automatic</td>
                        <td>Automatic</td>
                        <td>Automatic</td>
                      </tr>
                      <tr>
                        <td class="border-0"></td>
                        <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                        <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                        <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 
    *******************
    WHY CHOOSE ELASTIC 
    ******************* 
    -->
    <section class="services classic sec-normal mt-400 sec-grad-grey-to-blue">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading">Why choose WordPress Hosting?</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section sec-grad-white-to-grey">
                <div class="plans badge feat bg-blue">Softaculous</div>
                <i class="icon-add"></i>
                <div class="title">Easy 1-click-installer</div>
                <p class="subtitle">
                  Excepteur sint occaecat cupidatat non proident voluptate
                </p>
                <a href="" class="btn btn-default-grad-purple-fill">Read more</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section sec-grad-white-to-grey">
                <div class="plans badge feat bg-green">Site Builder</div> 
                <i class="icon-flash"></i>
                <div class="title">Fast Websites</div>
                <p class="subtitle">
                  Excepteur sint occaecat cupidatat non proident dolor 
                </p>
                <a href="" class="btn btn-default-grad-purple-fill">Read more</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section sec-grad-white-to-grey">
                <i class="icon-switch"></i>
                <div class="title">Easy Installation SSL</div>
                <p class="subtitle">
                  Duis aute irure dolor in reprehenderit in voluptate velit  
                </p>
                <a href="" class="btn btn-default-grad-purple-fill">Read more</a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    <!-- 
    *******************
    OVERVIEW 
    ******************* 
    -->
    <div class="overview sec-normal sec-bg1">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="img-over sec-grad-grey-to-grey">
              <img src="img/custom/support.svg" alt="">
            </div>
          </div>
          <div class="col-sm-12 col-md-8 text-right">
            <div class="overview-info">
              <h2 class="section-heading">Awesome Support 24x7x365</h2>
              <p class="overview-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere euismod dui eget ultrices. Cras condimentum dui eget erat commodo, in venenatis eros blandit.</p>
              <a href="#" class="btn btn-default-grad-purple-fill">Get Started!</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <div class="overview-info">
              <h2 class="section-heading">Free migration? let’s start!</h2>
              <p class="overview-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere euismod dui eget ultrices. Cras condimentum dui eget erat commodo, in venenatis eros blandit.</p>
              <a href="#" class="btn btn-default-grad-purple-fill">Get Started!</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
              <div class="img-over sec-grad-grey-to-grey">
                <img src="img/custom/migration.svg" alt="">
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    TEAM
    *******************
    -->
    <section class="sec-normal">
      <div class="team">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
              <h2 class="section-heading">Did not find what you looking for? Contact below</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="wrapper">
                <div class="img-section">
                  <div class="soc-icons-wrap">
                    <div class="icons">
                      <a href=""><i class="fab fa-facebook-f"></i></a>
                      <a href=""><i class="fab fa-google-plus-g"></i></a>
                      <a href=""><i class="fab fa-twitter"></i></a> 
                      <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="team-info">
                  <img src="img/avatars/avatar1.png" alt="team">
                  <h3 class="heading">John T. Erikson</h3>
                  <div class="subheading">CTO - Full Stack</div>
                  <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                  <a href="#" class="btn btn-default-green-fill mt-4">Contact</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="wrapper">
                <div class="img-section">
                  <div class="soc-icons-wrap">
                    <div class="icons">
                      <a href=""><i class="fab fa-facebook-f"></i></a>
                      <a href=""><i class="fab fa-google-plus-g"></i></a>
                      <a href=""><i class="fab fa-twitter"></i></a> 
                      <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="team-info">
                  <img src="img/avatars/avatar2.png" alt="team">
                  <h3 class="heading">Walter T. Adams</h3>
                  <div class="subheading">Font-End Developer</div>
                  <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                  <a href="#" class="btn btn-default-green-fill mt-4">Contact</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="wrapper">
                <div class="img-section">
                  <div class="soc-icons-wrap">
                    <div class="icons">
                      <a href=""><i class="fab fa-facebook-f"></i></a>
                      <a href=""><i class="fab fa-google-plus-g"></i></a>
                      <a href=""><i class="fab fa-twitter"></i></a> 
                      <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="team-info">
                  <img src="img/avatars/avatar3.png" alt="team">
                  <h3 class="heading">Verna B. Ahmed</h3>
                  <div class="subheading">Senior Marketing</div>
                  <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                  <a href="#" class="btn btn-default-green-fill mt-4">Contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 
    *******************
    FOOTER
    ******************* 
    -->
    <footer class="footer">
      <img class="logo-bg logo-footer" src="img/logo-light.svg" alt="logo">
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="heading">Hosting</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="hosting.html">Cloud Hosting</a></li>
                <li class="menu-item"><a href="dedicated.html">Dedicated Server</a></li>
                <li class="menu-item"><a href="vps.html">Cloud Virtual (VPS)</a></li>
                <li class="menu-item"><a href="domains.html">Domain Names</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="heading">Support</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="signup.html">myElastic</a></li>
                <li class="menu-item"><a href="knowledgebase.html">Knowledge Base</a></li>
                <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                <li class="menu-item"><a href="faq.html">FAQ</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="heading">Company</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="about.html">About Us</a> </li>
                <li class="menu-item"><a href="elements.html">Features</a></li>
                <li class="menu-item"><a href="blog.html">Blog</a></li>
                <li class="menu-item"><a href="legal.html">Legal</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3">
              <a><img src="img/logo-light.svg" alt="logo" class="logo-footer"></a>
              <div class="copyrigh">©2018 Elastic - All rights reserved</div>
              <div class="soc-icons">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a> 
                <a href=""><i class="fab fa-linkedin-in"></i></a>                     
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subcribe news">
        <div class="container">
          <div class="row">
            <form action="#" class="w-100">
              <div class="col-md-6 offset-md-3">
                <div class="general-input">
                  <input type="email" name="email" placeholder="Enter your email address" class="fill-input">
                  <input type="submit" value="SUBSCRIBE" class="btn btn-default-green-fill">
                </div>
              </div>
              <div class="col-md-6 offset-md-3 text-center pt-4">
                <p>Subscribe to our newsletter to receive news and updates</p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <ul class="footer-menu">
                <li class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" checked> EN
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2"> PT
                  </label>
                </li>
                <li class="menu-item c-grey ml-0">Hybrid Design With ♥ by 
                  <a href="http://inebur.com/" target="_blank">inebur</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="payment-list">
                <li><p>Payments We Accept</p></li>
                <li><i class="fab fa-cc-paypal"></i></li>
                <li><i class="fab fa-cc-visa"></i></li>
                <li><i class="fab fa-cc-mastercard"></i></li>
                <li><i class="fab fa-cc-apple-pay"></i></li>
                <li><i class="fab fa-cc-discover"></i></li>
                <li><i class="fab fa-cc-amazon-pay"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>